.field{
    position: relative;
    margin-bottom: 20px;
}

.field__control{
    font-weight: 700;
    line-height: 100%;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: rgb(18, 18, 104);
    border: 1px solid rgb(66, 66, 200);
    color: aliceblue;
    outline: none;
    transition: all 150ms ease-in-out;
}

.field__control::placeholder{
    color: rgb(155, 162, 166);
}

.field__control:focus{
    border-color: rgb(205, 205, 212);
    background-color: rgb(53, 53, 123);
    box-shadow: 0px 0px 13px rgba(0, 26, 255, 0.25);
}

.field__icon{
    position: absolute;
    font-size: 24px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(32, 120, 244);
}

.field__icon ~ .field__control{
    padding-right: 54px ;
}